@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #1175c9;
  --secondary-color: #ffda00;
  --light-color: #fff;
  --lighter-color: #ffffffb3;
  --dark-color: #0f1921;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
}

section {
  padding: 1rem;
  min-height: 99vh;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

/* Utitlity classes */
.container-fluid {
  margin: auto;
  padding: 1rem 2rem;
  overflow: hidden;
}

.active {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
  background: #fff;
}

/* Navbar */
#main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#main-nav .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-get-started {
  padding: 0.75rem;
  background: var(--primary-color);
  color: var(--light-color);
  text-transform: uppercase;
  border-radius: 8px;
}

#main-nav a {
  text-decoration: none;
}

#main-nav a:hover {
  text-decoration: none;
}

/* Section : Hero */

section#hero {
  padding: 0rem;
}

#hero .container-fluid {
  padding: 0;
}

#hero .col-md-6:last-child {
  background: var(--secondary-color);
}


/* Section : Client */
.client img {
  width: 80%;
}

/* Section : Purpose */
.purpose {
  background: var(--primary-color);
}

.purpose .container-fluid {
  padding: 5rem 2rem;
}

.purpose h1,
.purpose h3 {
  color: var(--light-color);
}

.purpose h1 {
  font-weight: bold;
  font-size: 4rem;
}

.purpose h3 {
  font-weight: medium;
  font-size: 3.2rem;
}

.purpose p {
  color: var(--lighter-color);
  font-size: 1.2rem;
}

.purpose .container {
  padding-top: 7rem;
}

.p-desc img {
  height: 20%;
  width: 20%;
}

.p-desc a {
  background: var(--secondary-color);
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}

.p-desc a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.p-desc .d-flex > * {
  margin-bottom: 1.7rem;
}


/* section testominals */

.testominals-container{
  min-height: 20vh;
  background: #FDFDFD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-structured{
width: 100%;
padding: 6rem 0;
}

.item {
  height: 363px;
  width: 561px;
  border-radius: 8px;
  background: #ffffff;
  margin: auto;
}

.item:nth-child(1){
  margin-left: 10rem !important;
}

#testominals {
  scroll-behavior: smooth;
  overflow: hidden;
}

#scrollContainer {
  background: #1175c9;
  height: 603px;
}

#leftMove,
#rightMove {
  outline: none;
  border-radius: 50%;
}

#leftMove {
  margin-left: 10rem;
}

.profile-img-container{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #1175C9;
  overflow: hidden;
}

.profile-img {
  width: 45px;
  height: 45px;
}

.person-name{
  font-size: 1.34rem !important;
}

.blockQuate-img {
  width: 43px;
  height: 39px;
}

.item p {
  padding: 0 1rem;
  font-size: 1rem;
}
