* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #283037;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
/* Jumbotron */

.jumbotron {
  background: #fff;
  padding: 0;
  overflow: hidden;
  color: #0f1921;
}

.jumbotron .container-fluid {
  padding: 0;
}

.jumbotron .col-lg-5 {
  background: #feda31;
  min-height: 80vh;
  border-bottom-left-radius: 150px;
  position: relative;
}

.jumbotron .col-lg-7 {
  padding: 2rem;
  padding-top: 12rem;
}

.jumbotron .col-lg-7 p {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.highlight-word {
  background: #efefef;
}

.jumbotron-message-container {
  max-width: 610px;
  margin: auto;
}

.jumbotron .lead {
  color: #40464e;
}

.jumbotron-grey-square {
  position: absolute;
  width: 50%;
  height: 50%;
  background: #ebebeb;
  top: 0;
  right: 0;
}

.jumbotron .input-group {
  width: 95%;
}

.jumbotron .input-group .btn {
  color: #fff;
  background: #1175c9;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}

/* Navbar */
.active {
  background: #fff;
  z-index: 1000;
  border-bottom: 0.063em solid #e3e3e3;
}

.jumbotron nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar .navbar-brand {
  cursor: pointer;
}

.nav-get-started {
  color: #fff;
  padding: 0.7rem 0.7rem;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 600;
}

.nav-get-started:hover {
  text-decoration: none;
  color: #fff;
}

/* Clients Section */

/* Adjust the client section margintop here */
.clients {
  margin-top: 7.3rem;
}

/* PIG Sections */
.pig-heading {
  margin-top: 4rem;
}

.custom-mt {
  margin-top: 2.7rem;
}

/* Address section */
.address .row > * {
  border: 1px solid #e4e4e4;
}

.address p {
  padding: 0.8rem;
}

.address p span:first-child {
  font-weight: bold;
}

.address p span:last-child {
  color: #40464e;
}

.address a {
  color: #40464e;
  text-decoration: none;
}

/* Footer section */
footer {
  background: #1175c9;
  padding: 1.66vh 0;
  color: #fff;
  font-size: 0.9375vw;
  font-weight: 400;
}

/* Banner section */
.banner {
  background: #feda31;
  min-height: 36.8vh;
  text-align: center;
  padding: 1rem;
}

.banner-image {
  z-index: 1;
}

.banner h1 {
  color: #1175c9;
  font-weight: 600;
  padding: 3rem 1rem;
}

.banner .input-group {
  width: 40%;
  margin: auto;
}

.banner .input-group .btn {
  color: #fff;
  background: #1175c9;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}

/* Blue bg section PIG */

.pig {
  background: #1175c9;
}

.PIG-title {
  font-size: 3.3vw;
  font-weight: bolder;
  color: #fff;
}

.yellow-square {
  background: #feda31;
  border-top-right-radius: 250px;
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.right-yellow-square {
  background: #feda31;
  border-bottom-left-radius: 250px;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.left-gray-square {
  background: #ebebeb;
  border-top-right-radius: 100px;
  width: 20%;
  height: 25%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.gray-square {
  background: #ebebeb;
  border-bottom-left-radius: 100px;
  width: 25%;
  height: 20%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.p-performance {
  position: relative;
  z-index: 1;
}

.learnmore {
  background: #feda31;
  color: #1175c9;
  text-align: center;
  width: 13.7vw;
  text-decoration: none;
  font-size: 1.1vw;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
}

.sqare-watermark {
  position: absolute;
  top: 8rem;
  left: 30vw;
  height: 18.5vw;
  width: 18rem;
}

.round-watermark {
  position: absolute;
  top: 6rem;
  left: 0rem;
  width: 17.06rem;
  height: 17.06rem;
}

.sqareEdge-watermark {
  position: absolute;
  top: 18rem;
  left: 28rem;
  width: 19.375rem;
  height: 18.625rem;
}

/* section testominals */

.testominals-container {
  min-height: 20vh;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-title {
  font-size: 3.25vw;
  width: 18.645vw;
  margin: auto;
  padding: 7.88vh 0;
  font-weight: 400;
}

.container-structured {
  width: 100%;
  padding: 5.33vh 0;
}

.item {
  height: 40.33vh;
  width: 35.05vw;
  border-radius: 8px;
  background: #ffffff;
  display: inline-block;
  margin: 0 5vh;
}

.item:nth-child(1) {
  margin-left: 10vw !important;
}

#testominals {
  scroll-behavior: smooth;
  border-spacing: 30px 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#scrollContainer {
  background: #1175c9;
  height: 67vh;
}

#leftMove,
#rightMove {
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

#leftMove {
  margin-left: 10vw;
}

.profile-container {
  display: flex;
}

.profile-img-container {
  width: 5.58vw;
  height: 11.33vh;
  border-radius: 50%;
  border: 2px solid #1175c9;
  overflow: hidden;
}

.profile-img {
  width: 5.58vw;
  height: 11.33vh;
}

.person-name {
  font-size: 1.5vw !important;
}

.designation {
  font-size: 1vw !important;
}

.quotes-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.blockQuate-img {
  width: 4.685vw;
  height: 4.37vh;
}

.item p {
  padding: 0 1vw;
  font-size: 1.25vw;
  white-space: normal;
}

@media (max-width: 576px) {
  /* .address .row {
      padding: 0 6rem;
    } */

  .address .row > * {
    padding: 2rem;
  }

  .jumbotron-grey-square {
    width: 50%;
    height: 30%;
    z-index: 0;
  }

  .banner .input-group {
    width: 100%;
  }

  .navbar-brand img {
    width: 200px;
  }

  .nav-get-started {
    color: #fff;
    padding: 0.7rem 0.7rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 600;
  }

  /* Purpose section */
  .yellow-square {
    left: 60%;
    bottom: 65%;
    width: 40%;
    height: 35%;
    transform: rotate(180deg);
    border-top-right-radius: 100px;
  }
  
  .sqare-watermark{
    position: absolute;
    top: 4rem;
    left: -29vw;
    height: 32.5vw;
    width: 29rem;
  }

  .purpose-group{
    width: 12%;
  }

  .sqareEdge-watermark{
    position: absolute;
  }

  /* section testominals */
  .testominals-container {
    min-height: 20vh;
    background: #fdfdfd;
  }

  .container-structured {
    width: 100%;
    padding: 5.33vh 0;
  }

  .item {
    height: 55.74vh;
    width: 80.58vw;
    border-radius: 8px;
    background: #ffffff;
    margin: 0 9vw !important;
  }

  #testominals {
    scroll-behavior: smooth;
    overflow: hidden;
  }

  #scrollContainer {
    background: #1175c9;
    height: 79.08vh;
    display: flex;
    flex-direction: column-reverse;
  }

  .button-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #leftMove,
  #rightMove {
    outline: none;
    border-radius: 50%;
  }

  #leftMove {
    margin-left: 0;
    margin-right: 10px;
  }

  .profile-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin: auto 0 !important;
  }

  .profile-img-container {
    width: 17.47vw;
    height: 8.16vh;
    border-radius: 50%;
    border: 1px solid #1175c9;
    overflow: hidden;
  }

  .profile-img {
    width: 17.47vw;
    height: 8.16vh;
  }

  .person-name {
    font-size: 4.12vw !important;
  }

  .designation {
    font-size: 2.91vw !important;
  }

  .quotes-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blockQuate-img {
    width: 7.76vw;
    height: 3.67vh;
  }

  .item p {
    padding: 0 1vw;
    font-size: 3.88vw;
  }
}
